<table role='grid' className='slds-table slds-table_fixed-layout slds-table_bordered slds-table_resizable-cols slds-no-row-hover slds-scrollable_none'>
  <thead>
    <tr className='slds-line-height_reset'>
      <th scope='col' style='width: 3.75rem;'></th>
      <th aria-label='Name' aria-sort='none' className='slds-is-sortable slds-is-resizable slds-text-title_caps' scope='col'>
        <a className='slds-th__action slds-text-link_reset' href='javascript:void(0);' role='button' tabindex='-1'>
          <span className='slds-truncate' title='Name'>Name</span>
          <div className='slds-icon_container'>
            <svg className='slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon' aria-hidden='true'>
              <use xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='/assets/icons/utility-sprite/svg/symbols.svg#arrowdown' />
            </svg>
          </div>
        </a>
        <div className='slds-resizable'>
          <input type='range' min='20' max='1000' aria-label='Name column width' className='slds-resizable__input slds-assistive-text' id='cell-resize-handle-1' tabindex='-1' />
          <span className='slds-resizable__handle'>
            <span className='slds-resizable__divider'></span>
          </span>
        </div>
      </th>
      <th aria-label='Product Code' aria-sort='none' className='slds-is-sortable slds-is-resizable slds-text-title_caps' scope='col'>
        <a className='slds-th__action slds-text-link_reset' href='javascript:void(0);' role='button' tabindex='-1'>
          <span className='slds-truncate' title='Product Code'>Link</span>
          <div className='slds-icon_container'>
            <svg className='slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon' aria-hidden='true'>
              <use xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='/assets/icons/utility-sprite/svg/symbols.svg#arrowdown' />
            </svg>
          </div>
        </a>
        <div className='slds-resizable'>
          <input type='range' min='20' max='1000' aria-label='Product Code column width' className='slds-resizable__input slds-assistive-text' id='cell-resize-handle-2' tabindex='-1' />
          <span className='slds-resizable__handle'>
            <span className='slds-resizable__divider'></span>
          </span>
        </div>
      </th>
      <th aria-label='List Price' aria-sort='none' className='slds-is-sortable slds-is-resizable slds-text-title_caps' scope='col'>
        <a className='slds-th__action slds-text-link_reset' href='javascript:void(0);' role='button' tabindex='-1'>
          <span className='slds-truncate' title='List Price'>Active</span>
          <div className='slds-icon_container'>
            <svg className='slds-icon slds-icon_x-small slds-icon-text-default slds-is-sortable__icon' aria-hidden='true'>
              <use xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='/assets/icons/utility-sprite/svg/symbols.svg#arrowdown' />
            </svg>
          </div>
        </a>
        <div className='slds-resizable'>
          <input type='range' min='20' max='1000' aria-label='List Price column width' className='slds-resizable__input slds-assistive-text' id='cell-resize-handle-3' tabindex='-1' />
          <span className='slds-resizable__handle'>
            <span className='slds-resizable__divider'></span>
          </span>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr className='slds-hint-parent'>
      <td role='gridcell' tabindex='0' className='slds-text-align_right' style='width: 3.75rem;'>
        <div className='slds-checkbox_add-button'>
          <input type='checkbox' className='slds-assistive-text' id='add-checkbox-3' tabindex='-1' value='on' />
          <label for='add-checkbox-3' className='slds-checkbox_faux'>
          </label>
        </div>
      </td>
      <th scope='row'>
        <div className='slds-truncate' title='Analytics'>Comms Bot</div>
      </th>
      <td role='gridcell'>
        <div className='slds-truncate' title='ANTLY'>https://git.soma</div>
      </td>
      <td role='gridcell'>
        <div className='slds-truncate' title='5000.00'>true</div>
      </td>
    </tr>
  </tbody>
</table>
